<md-sidenav-container class="demo-root" fullscreen>
  <md-sidenav #start mode="side">
    <md-list>
      <h3 md-subheader>Folders</h3>
      <md-list-item *ngFor="let folder of folders">
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line>{{folder.name}}</h4>
        <p md-line> {{folder.updated | date}} </p>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes">
        <md-icon md-list-icon>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line> {{note.updated | date}} </p>
      </md-list-item>
    </md-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>

  <div style="height:inherit">
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.toggle()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div class="demo-toolbar">
        <h1>在线冲突解决</h1>
        <button md-button (click)="dark = !dark">{{dark ? 'Light' : 'Dark'}} theme</button>
        <button md-button (click)="thumbup()" title="Thumb Up">
        <md-icon svgIcon="thumb-up"></md-icon>
        </button>
        <button md-button (click)="tucao()" title="tucao">
          Tucao
        </button>
      </div>
    </md-toolbar>

    <div #root="$implicit" dir="ltr" style="height:80%;width:auto" class="demo-content">
      <!--<nav md-tab-nav-bar aria-label="weather navigation links">
        <a md-tab-link *ngFor="let tabLink of tabLinks; let i = index" [routerLink]="tabLink.link" [active]="activeLinkIndex === i"
          (click)="activeLinkIndex = i">
          {{tabLink.label}}  
        </a>
      </nav>
      <router-outlet></router-outlet>-->
      <md-tab-group class="demo-tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex">
        <md-tab *ngFor="let tab of dynamicTabs" [disabled]="tab.disabled">
          <ng-template md-tab-label>{{tab.label}}</ng-template>
          <div class="tab-content">
            <br/>
            <md-input-container>
              <input mdInput placeholder="Tab Label" [(ngModel)]="tab.label">
            </md-input-container>
            <br><br>
            <button md-raised-button [disabled]="dynamicTabs.length == 1" (click)="deleteTab(tab)">
          Delete Tab
        </button>
          </div>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</md-sidenav-container>